.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url("home.jpg"); 
    background-size: cover;
    color: white;
    height: 730px; 
  }
  .sidebar ul {
    /* display: flex; */
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    cursor: pointer;
    padding: 10px;
  }
  
  .sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.2); 
  }
  
  .sidebar ul li:hover * {
    color: white; 
  }
  
  .sidebar ul li:nth-child(-n+5) {
    color: white; 
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .main-content h2 {
    font-size: 24px;
  }