.song-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .song-table th,
  .song-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .song-table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* .song-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  
  .song-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .song-table tbody tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .song-list-container {
    margin: 0 auto; 
    width: 50%; 
  }

  .h1{
    color: white;
  }